<h1><%= t(:category, scope: 'activerecord.models')%></h1>

<table>
  <thead>
    <tr>
      <th><%= name, scope: 'activerecord.attributes.category' %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>
        <td><%= link_to t(:show), category_path(alias: category.alias) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
